DCs/incture.com/pmc/service/ejb/_comp/wsdl/rootwsdl_CustomAttributesServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://incture.com/pmc/poadapter/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://incture.com/pmc/poadapter/services/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://incture.com/pmc/poadapter/services/" version="1.0">
<xs:element name="getCustomAttributes" type="tns:getCustomAttributes"/>
<xs:element name="getCustomAttributesResponse" type="tns:getCustomAttributesResponse"/>
<xs:complexType name="getCustomAttributes">
<xs:sequence>
<xs:element minOccurs="0" name="taskId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCustomAttributesResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:customAttributeDto"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="customAttributeDto">
<xs:sequence>
<xs:element name="customAttribute">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="value" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getCustomAttributesIn">
<wsdl:part element="tns:getCustomAttributes" name="parameters"/>
</wsdl:message>
<wsdl:message name="getCustomAttributesOut">
<wsdl:part element="tns:getCustomAttributesResponse" name="getCustomAttributesResponse"/>
</wsdl:message>
<wsdl:portType name="CustomAttributesService">
<wsdl:operation name="getCustomAttributes" parameterOrder="parameters">
<wsdl:input message="tns:getCustomAttributesIn"/>
<wsdl:output message="tns:getCustomAttributesOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CustomAttributesServiceBinding" type="tns:CustomAttributesService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getCustomAttributes">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body parts="parameters" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CustomAttributesServiceService">
<wsdl:port binding="tns:CustomAttributesServiceBinding" name="CustomAttributesServicePort">
<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://incturecwd:50000/CustomAttributesServiceService/CustomAttributesService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
